<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kino.Properties.Settings.mayorov_dbConnectionString"
            connectionString="Data Source=MSSQL-2K8;Initial Catalog=mayorov_db;User ID=mayorov484;Password=m1aksnubb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>